@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Sail&family=Telex&display=swap');

* {
    font-family: 'Telex', sans-serif;
    font-weight: 300;
    font-size: 16px;     
    color: rgb(75,75,75);
    box-sizing: border-box;
    line-height: 1.3em;
}

body {
    margin: 0;         
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(197, 43, 94);
    background-image: linear-gradient(
        19deg, 
        rgb(197, 43, 94) 0%,
        rgb(254, 232, 186) 100%);  
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 260px;
    max-width: 75vw;
    height: 100vh;
    padding-left: 40px;
    padding-right: 40px;

    background-color: rgb(235, 235, 245);
    box-shadow: 0px 0px 25px 10px rgba(109, 82, 90, 0.25);
}

h1,
h2 {
    text-align: center;
    color: rgb(87, 44, 59);
}

h1 {
    font-family: 'Sail', cursive;
    font-size: 3rem;
}

h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    font-style: italic;
}

strong {
    font-size: 2rem;
    color: rgb(197, 43, 94);
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 244px;
    height: fit-content;
}

/* Button style */
.btn svg path,
.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 4rem; 
    color:  rgb(197, 43, 94);
    fill: rgb(197, 43, 94);
    width: 80px;
    height: 80px;
    padding: 4px 8px;

    background-color:  rgb(254, 232, 186);
    border: none;

    box-shadow: 8px 8px 8px rgba(110, 106, 123, 0.25);
}


.btn:hover svg path,
.btn:hover {
    cursor: pointer;
    background-color: rgb(250, 172, 168);
    color: rgb(197, 43, 94);
    fill: rgb(197, 43, 94);
}

.btn:active {
    transform: scale(1.05);
}

.flipped svg path,
.flipped {
    background-color: rgb(197, 43, 94);
    color: rgb(254, 232, 186);
    fill: rgb(254, 232, 186);
}

.flipped:hover svg path,
.flipped:hover {
    background-color: rgb(250, 172, 168);
    color: rgb(254, 232, 186);
    fill: rgb(254, 232, 186);
}

/* Modal - background and position */
.modal {
    display: none;            /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed;          /* Stay in place */
    z-index: 1;               /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw;             /* Full width */
    height: 100vh;            /* Full height */
    overflow: auto;           /* Enable scroll if needed */
    background-color: rgba(75, 75, 75, 0.4); /* Dark grey w/ opacity */
}

/* Modal - content */
.modal-content {
    position: relative;
    background-color: rgb(235, 235, 240);
    border: solid 2px rgb(197, 43, 94);
    border-radius: 1rem;
    margin: auto;
    padding: 0px 1rem;
    width: 260px;
    box-shadow: 0 4px 8px 0 rgba(75, 75, 75, 0.2), 0 6px 20px 0 rgba(75, 75, 75, 0.2);
    animation-name: animatecenter;
    animation-duration: 0.4s;
    -webkit-animation-name: animatecenter;
    -webkit-animation-duration: 0.4s;
}

/* Animations */
@keyframes animatecenter {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

@-webkit-keyframes animatecenter {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

/* Close Button */
.close {
    color:rgb(250, 172, 168);
    float: right;
    font-size: 3rem;
}

.close:hover,
.close:focus {
    color: rgb(197, 43, 94);
    text-decoration: none;
    cursor: pointer;
}

/* Header */
.modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0rem 1rem;
}

/* Content */
.modal-body {
    padding: 0px 1rem;
    font-size: 2rem;
    font-family: 'Sail', cursive;
    text-align: center;
    border-top: solid 2px rgba(197, 43, 94, 0.25);
    border-bottom: solid 2px rgba(197, 43, 94, 0.25);
}

/* Footer */
.modal-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 1rem;
}

.modal-footer > p {
    font-family: 'Sail', cursive;
    color: rgb(197, 43, 94);
    font-size: 1.5rem;
}

.modal-footer > img {
    height: 32px;
    width: auto;
}